<!DOCTYPE html>
<html>
<head>
  <title>InifinitySelfieMirror</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#FFFFFF;font-family:'Open Sans', sans-serif;">
  <div style="width:800px;max-width:100%;margin:auto;background-color:#f6f6f6;padding: 25px;border-radius: 5px;box-sizing:border-box">
      <div style="border-bottom:1px solid #DDD;">
        <div style="padding:20px;color:#FFFFFF;-webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
          background: -webkit-linear-gradient(90deg, #0094da 1%, #00abc9 25%, #eb0c76 100%);
          background: -webkit-gradient(linear, left top, right top, color-stop(1%, #0094da), color-stop(25%, #00abc9), color-stop(100%, #eb0c76));
          background: -webkit-linear-gradient(left, #0094da 1%, #00abc9 25%, #eb0c76 100%);
          background: -o-linear-gradient(left, #0094da 1%, #00abc9 25%, #eb0c76 100%);
          background: linear-gradient(90deg, #0094da 1%, #00abc9 25%, #eb0c76 100%);">
          <table style="width:100%">
            <tr>
              <td>
                <div style="width:150px;height:75px;background:left top url(https://infinityselfiemirror.com/wp-content/themes/infinity/assets/images/logo.png) no-repeat;background-size:contain;"></div>
              </td>
              <td valign="center" style="width:100%">
                <div style="font-size:32px;line-height: 1; margin-left:10px;">
                  <div style="font-family: 'Raleway', sans-serif;">Selfie</div>
                  <div style="font-family: 'Raleway', sans-serif;font-weight: 600;">Mirror</div>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!--h2 style="text-align:center">InifinitySelfieMirror<small>.com</small></h2-->
        <div style="width:100%;height:300px;background:center url(https://infinityselfiemirror.com/wp-content/uploads/2018/08/banner2-768x513.jpg) no-repeat;background-size:cover;"></div>
      </div>
      <div style="background: -webkit-linear-gradient(135deg, #0094da 5%, #eb0c76 95%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #0094da), color-stop(95%, #eb0c76));
        background: -moz-linear-gradient(135deg, #0094da 5%, #eb0c76 95%);
        background: -ms-linear-gradient(135deg, #0094da 5%, #eb0c76 95%);
        background: -o-linear-gradient(135deg, #0094da 5%, #eb0c76 95%);
        background: linear-gradient(135deg, #0094da 5%, #eb0c76 95%);padding:20px;color:#FFFFFF;">

        <h2>Thanks for using our services.</h2>
        <h3>Enjoy your great selfie!</h3>
      </div>
      <div style="background:#FFFFFF;padding:20px;">
        <center>
			<% _.each(attachments, (attachment)=>{ %>
			<img title="<%- attachment.filename %>" alt="<%- attachment.filename %>" src="cid:<%= attachment.cid %>" style="width:200px;"/>
			<% })%>
		</center>
		<center style="margin:10px 0px 50px">
		<a style_="background: -webkit-linear-gradient(135deg, #eb0c76 5%, #0094da 95%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #eb0c76), color-stop(95%, #0094da));
        background: -moz-linear-gradient(135deg, #eb0c76 5%, #0094da 95%);
        background: -ms-linear-gradient(135deg, #eb0c76 5%, #0094da 95%);
        background: -o-linear-gradient(135deg, #eb0c76 5%, #0094da 95%);
        background: linear-gradient(135deg, #eb0c76 5%, #0094da 95%);"
		style="margin:10px 0px; box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);border-radius:50px;text-decoration:none;display:inline-block;padding:10px 20px;font-size:18px;text-align:center;background-color:#0094da;color:#FFFFFF;" href="<%- imagesLink.replace('_CODE_', hash) %>">Download</a><br />
			<span>full size images from our website.</span>
		</center>
      </div>
      <div style="background: -webkit-linear-gradient(90deg, #00abc9 31%, #00e4ce 69%);
        background: -webkit-gradient(linear, left top, right top, color-stop(31%, #00abc9), color-stop(69%, #00e4ce));
        background: -webkit-linear-gradient(left, #00abc9 31%, #00e4ce 69%);
        background: -o-linear-gradient(left, #00abc9 31%, #00e4ce 69%);
        background: linear-gradient(90deg, #00abc9 31%, #00e4ce 69%);padding:20px;color:#FFFFFF;">
          <div style="font-size:20px;margin-bottom:10px;font-weight:bold;">Lets Get In Touch</div>
          <div>Plot No. 397, Industrial Area II, <br />Chandigarh - 160002.</div>
          <div>Ckant@InfinitySelfieMirror.Com</div>
          <div>+91 730-730-9876</div>
          <div><a style="color:#FFFFFF" href="InfinitySelfieMirror.Com">InfinitySelfieMirror.com</a></div>
      </div>
	  <center style="font-size:12px;padding-top:5px">Email Time: <%- time %></center>
  </div>
</body>
</html>